<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CapstoneSuite">
    <test name="CapstoneTest">
        <classes>
            <class name="stepDefination.CapstoneStepDefination">
                
            </class>
        </classes>
    </test>
</suite>
